@model IEnumerable<SchoolLibraryManagment.Models.BorrowerEntity>
@{
    ViewData["Title"] = "BorrowList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Borrower List</h1>

<p class="float-left">
   <a asp-action="AddBorrower" asp-controller="Borrower" class="btn btn-outline-secondary">Add Borrower Record</a>
</p>

<p class="float-right">
   @* <a asp-action="AddCustomer" asp-controller="Item" class="btn btn-outline-secondary">Add Customer</a> |*@
     @*<a asp-action="List" class="btn btn-outline-primary">Item List</a> |
     <a asp-action="DepartmentList" asp-controller="Item" class="btn btn-outline-primary">Category List</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.DateBorrowed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>

           @*   <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>*@

            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
         
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateBorrowed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>*@

                <td>
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                  
             <td>
                @Html.ActionLink( "Update", "AddBorrower", new {  item.BorrowerId, item.DateBorrowed, item.ReturnDate, item.BookId, item.StudentId, item.StudentName } , new { @class="btn btn-outline-success rounded-pill"}) <br/> <br/>

                @Html.ActionLink("Delete", "DeleteBorrower", new {  item.BorrowerId  }, new { @class = "btn btn-outline-danger rounded-pill",onclick="return confirm('Do you really want this record?')" })
            </td>

        </tr>
}
    </tbody>
</table>
